# Example redis.conf configuration location
# /etc/redis/redis.conf
# Redis Sentinel Only servers
# dont need an instance of redis installed
# This file will be left empty to not confuse the
# configureation of a redis high availability cluster 
